.dl {
    margin-left: -180px !important;
}

#dlclassID {
    margin-left: -180px !important;
}

#btnThumb {
    background-color: white !important;
    margin-left: 12px !important;
    border-radius: 26px !important;
    font-size: 18px;
}

    #btnThumb:hover {
        background-color: #cccccc !important;
    }

#btnOpenImg {
    border-radius: 26px !important;
    font-size: 18px;
}

    #btnOpenImg:hover {
        background-color: #cccccc !important;
    }

.thumbnail {
    border: solid !important;
    height: 200px !important;
    border-color: #cccccc !important;
}

    .thumbnail > img {
        display: list-item;
        height: 50px;
        width: 75px;
    }

h3, .h3 {
    font-size: 20px !important;
    max-height: 50px;
    overflow: auto;
    word-break: break-all;
}

.thumbnail .caption {
    height: 76px;
}

.progress-bar {
    background-color: #bd2626 !important;
}

.dl-horizontal {
    margin-left: -177px;
}

#idUlDropdown:hover {
    background-color: #cccccc !important;
    color: #009688 !important;
}

#idForShadow {
    transition: font-size 0.5s;
    padding-left: 0px;
    padding-right: 15px;
}

#idForShadow:hover {
    text-shadow: 0px 0px 9px red !important;
    font-size: 22px !important;
}

#registerLink {
    transition: font-size 0.5s;
    padding-left: 0px;
    padding-right: 15px;
}
#registerLink:hover {
    text-shadow: 0px 0px 9px red !important;
    font-size: 22px !important;
}

#loginLink {
    transition: font-size 0.5s;
    padding-left: 0px;
    padding-right: 15px;
}
#loginLink:hover {
    text-shadow: 0px 0px 9px red !important;
    font-size: 22px !important;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 6px;
    display: none;
    /*background-color: rgba(153,153,153,0.2);*/
    color: #f44336 !important;
    text-align:center !important;
    width: 100px;
    height: 100px;
}

#back-to-top > span{
    font-size:25px;
}

#grad {
 /* background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); Standard*/
}